<mat-card class="character-card" *ngIf="character.level >= 10"
          [style.background-image]="getBGImageUrl(character?.spec?.backgroundImage)">
  <mat-card-header>
    <div class="card-block" mat-card-avatar [style.background-image]="getThumbnail(character)"></div>
    <mat-card-title>
      [{{character.realm}}] {{ character.name }}({{ character.level }})
    </mat-card-title>
    <mat-card-subtitle *ngIf="character.guild">
      Guild: {{ character.guild }}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="character.achievementPoints">
      Achievement points: {{ character.achievementPoints | number }}
    </mat-card-subtitle>
  </mat-card-header><!--
      <mat-card-content>
        Some stuff coming here?
      </mat-card-content>-->
  <mat-card-actions>
    <a *ngIf="character.guild" mat-raised-button
       [routerLink]="'/eu/' + character.realm + '/guild/' + character.guild">
      Go to guild
    </a>
    <a mat-raised-button
       [routerLink]="'/eu/' + character.realm + '/character/' + character.name">
      Go to profile
    </a>
  </mat-card-actions>
</mat-card>
