<nav class="navbar navbar-toggleable-md navbar-light bg-faded sticky-top mat-elevation-z8">
	<button class="navbar-toggler navbar-toggler-right"
		type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" routerLink="">
		<img src="assets/images/emblem.png"
			width="30" height="30" class="d-inline-block align-top" alt="">
		{{ guildName }}
	</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="roster">Roster</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
				<div class="dropdown-menu">
				  <a class="dropdown-item" routerLink="tools/raid-composition">Raid team composition</a>
				</div>
			  </li>
			<li class="nav-item">
				<a class="nav-link" routerLink="logs">Logs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="challenges">Challenges</a>
			</li><!--
			<li class="nav-item">
				<a class="nav-link" routerLink="streams">Streams</a>
			</li>-->
		</ul>
	</div>
	<span>Realm rank: {{ guildRank !== null ? guildRank.realm_rank : 'N/A' }}</span>
</nav>