<mat-expansion-panel
  [expanded]="showCharacters"
  (opened)="showCharacters = true"
  (closed)="showCharacters = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Characters
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-accordion *ngIf="showCharacters">
    <mat-expansion-panel *ngFor="let realm of realms">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ realm.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ realm.characters.length | number }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-character-card *ngFor="let character of realm.characters"
                          [character]="character">
      </app-character-card>
    </mat-expansion-panel>
  </mat-accordion>

</mat-expansion-panel>
