<mat-expansion-panel class="mb-1"
                     [expanded]="showCharacters"
                     (opened)="showCharacters = true"
                     (closed)="showCharacters = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Characters
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let realm of realms"
                         [style.background-color]="colors.background"
                         [style.color]="colors.font">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ realm.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ realm.characters.length | number }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="showCharacters">
        <app-character-card class="float-left p-1"
                            *ngFor="let character of realm.characters"
                            [character]="character">
        </app-character-card>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>

</mat-expansion-panel>
