<div class="card" style="background: rgba(0, 0, 0, .3) !important;">
  <div class="card-block">
    <h4 class="card-title">{{ boss.name }}</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Spec</th>
          <th>Percentile</th>
          <th>DPS/HPS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spec of boss.specs">
          <td>
            {{ spec.data.length }} x {{ spec.spec }}
          </td>
          <td>
            {{ spec.best_historical_percent }}%
          </td>
          <td>
            {{ spec.best_persecondamount | number }}
          </td>
        </tr>
      </tbody>
    </table>
    <!--
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
    -->
  </div>
</div>