
<!--
<div class="row m-0">
  <div class="col-md-4" *ngFor="let record of challenges?.records">
    <div class="bg-img">
      <mat-card  [style.background-image]="getImageUrl(record.map.slug)">
        <mat-card-header>
          <mat-card-title>
            {{ record.map.name }} 
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Best run time: {{ getTimeToString(record?.bestTime) }} <br>
          Last run time: {{ getTimeToString(record?.lastTime) }} <br>
          <span *ngIf="record.guildRank > 0">
            Guild rank: {{ record.guildRank }}
          </span>
          <span *ngIf="record.realmRank > 0">
            Realm rank: {{ record.realmRank }}
          </span>
          <span *ngIf="record.regionRank > 0">
            Region rank: {{ record.regionRank }}
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>-->

<app-table *ngIf="records"
  [columns]="columns"
  [data]="records"></app-table>
