<mat-paginator [length]="news?.length" [pageSize]="page.pageSize" [pageSizeOptions]="page.pageSizeOptions" (page)="changePage($event)">
</mat-paginator>

<article class="p-none-sm col-md-12">
	<div class="col-md-4 float-left" *ngFor="let n of news |
		slice: 
			(pageEvent.pageSize * (pageEvent.pageIndex + 1)) - pageEvent.pageSize:
			pageEvent.pageSize * (pageEvent.pageIndex + 1)">
			<mat-card class="mat-elevation-z5">
				<mat-card-header>
					<mat-card-title>
						<span [ngSwitch]="n.type">
						<a *ngSwitchCase="'playerAchievement'"
							href="https://www.wowhead.com/achievement={{ n.achievement.id }}"
							rel="achievement={{ n.achievement.id }}">{{ n.achievement.title }}
						</a>
						<a *ngSwitchCase="'itemLoot'"
							href="https://www.wowhead.com/item={{ n.itemId }}"
							rel="item={{ n.itemId }}, bonus={{ bonusList(n.bonusLists) }}">{{ n.context }}
						</a>
						<a *ngSwitchCase="'itemPurchase'"
							href="https://www.wowhead.com/item={{ n.itemId }}"
							rel="item={{ n.itemId }}, bonus={{ bonusList(n.bonusLists) }}">{{ n.context }}
						</a>
						<a *ngSwitchCase="'itemCraft'"
							href="https://www.wowhead.com/item={{ n.itemId }}"
							rel="item={{ n.itemId }}, bonus={{ bonusList(n.bonusLists) }}">{{ n.context }}
						</a>
						<p *ngSwitchDefault>{{ n.type }}</p>
					</span>
					</mat-card-title>
					<mat-card-subtitle class="clearfix mb-0">
						<strong>Time:</strong> {{ (n.timestamp) | date:'dd.MMM-yy HH:mm'}}
					</mat-card-subtitle>
					<mat-card-subtitle *ngIf="n.context !== ''" class="clearfix mb-0">
						<strong>From:</strong> {{ getContext(n) }}
					</mat-card-subtitle>
					<mat-card-subtitle class="clearfix mb-0">
						<strong>Player:</strong> {{ n.character }}
					</mat-card-subtitle>
				</mat-card-header>
			</mat-card>
	</div>
</article>

<mat-paginator [length]="news?.length" [pageSize]="page.pageSize" [pageSizeOptions]="page.pageSizeOptions" (page)="changePage($event)">
</mat-paginator>
