<mat-card class="col-md-3 float-left">
  <mat-card-content>
    <div class="progress-label">
      {{ achievementGroup.progress }}%
    </div>
    <mat-progress-spinner
        color="primary"
        mode="determinate"
        [value]="achievementGroup.progress">
    </mat-progress-spinner>
  </mat-card-content>
  <mat-card-header>
    <mat-card-title>{{ achievementGroup.name }}</mat-card-title>
    <mat-card-subtitle>
      {{ getCompletedCount() }}/
      {{ 
        achievementGroup.achievements.length + this.achievementGroup.categoryAchievementCount
      }}
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>