<h2>Raiders</h2>
<form [formGroup]="form">
  <mat-form-field>
    <mat-select placeholder="difficulty" formControlName="difficulty" (change)="updateRelevantLogs()">
      <mat-option *ngFor="let d of difficulty" [value]="d.id">{{ d.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Raid zone" formControlName="zone" (change)="getAllLogs()">
      <mat-option *ngFor="let z of zones; let i = index" [value]="i">
        {{ z.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="zones && zones[form.value.zone]">
    <mat-select (change)="updateRelevantLogs()"
      placeholder="Boss" formControlName="encounter">
      <mat-option [value]="-1">Avrage</mat-option>
      <mat-option *ngFor="let e of zones[form.value.zone].encounters; let i = index" [value]="i">{{ e.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<em>
  The log data is based on the characters spec. Change the characters spec, to see their log data for another spec etc.
</em>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Class and spec overview
      </mat-panel-title>
      <mat-panel-description>
        Overview of how many players per class and spec
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button (click)="updateClassSpecInfo()" mat-raised-button>Update</button>
    <div class="row">
      <div class="col-md-3" *ngFor="let class of classCount">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ class.class }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list dense>
              <mat-list-item *ngFor="let spec of class.spec">
                <strong>{{ spec.name }}({{spec.role}})</strong>: {{ spec.count }}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>

</mat-accordion>


<app-table [columns]="columns" [data]="raiders" (change)="getLogsForPlayer($event)"></app-table>
