Raid composition

<form [formGroup]="form">
  <mat-form-field>
    <mat-select placeholder="difficulty" formControlName="difficulty">
      <mat-option *ngFor="let d of difficulty" [value]="d.id">{{ d.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Raid zone" formControlName="zone">
      <mat-option *ngFor="let z of zones; let i = index" [value]="i">
        {{ z.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="zones && zones[form.value.zone]">
    <mat-select
      placeholder="Boss" formControlName="encounter">
      <mat-option *ngFor="let e of zones[form.value.zone].encounters; let i = index" [value]="i">{{ e.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
{{ form.value | json }}

<app-table [columns]="columns" [data]="raiders"></app-table>
