<h3 class="card-title">Roster</h3>
<div class="card-text">
  <p>
    Here you can browse all the guild members, click a character to get more details.
  </p>
  <div class="input-group">
    <select [(ngModel)]="queryParams.rank">
      <option value="-1">All ranks</option>
	  <option *ngFor="let rank of ranks; let i = index" [value]="i">{{ rank }}</option>
    </select>
    <span class="input-group-addon" id="basic-addon3">Character</span>
    <input placeholder="Search for a character"
		type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" 
		[(ngModel)]="queryParams.character">
  </div>

  <nav class="col-md-12">
    <md-paginator [length]="members?.length" [pageSize]="page.pageSize" [pageSizeOptions]="page.pageSizeOptions"
      (page)="pageEvent = $event">
    </md-paginator>
  </nav>

  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let member of getMembers() |
      slice: 
            (pageEvent.pageSize * (pageEvent.pageIndex + 1)) - pageEvent.pageSize:
            pageEvent.pageSize * (pageEvent.pageIndex + 1)">
      <div class="card">
        <div class="card-block" (click)="goToCharacter(member.character.realm, member.character.name)"
			      [style.background-image]="getBGImageUrl(member.character.spec.backgroundImage)">
          <img class="thumbnail-icon-spec  rounded-circle" [src]="getSpecIcon(member)" />
          <img class="thumbnail-icon rounded-circle" [src]="getThumbnail(member)" />

          <h5 class="card-title">{{ member.character.level }} {{ member.character.name }}</h5>
          <h6 class="card-subtitle mb-2"> {{ getRank(member.rank) }}</h6>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" class="Icon-svg mini-icon">
              <use xlink:href="assets/images/icons/Icon.svg#achievement-shield"></use>
            </svg> {{ member.character.achievementPoints }}
          </span>
      </div>
    </div>
  </div>

  <nav class="col-md-12">
    <md-paginator [length]="members?.length" [pageSize]="page.pageSize" [pageSizeOptions]="page.pageSizeOptions"
      (page)="pageEvent = $event">
    </md-paginator>
  </nav>
</div>
