.backdrop {
  z-index: 9998;
  position: absolute;
  left: 0;
  top: 0;
  background: #000000b8;
  width: 100%;
  height: 100vh;
}

.full-screen {
  z-index: 9999;
  position: absolute;
  left: 10em;
  right: 10em;
  top: 10em;
}
