<div class="character character-bg clearfix" [style.background-image]="getBackgroundImage()" [style.background-color]="getBackgroundColor()">
  <!-- Basic data -->
  <div class="clearfix">
    <a routerLink="/roster">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
			Back to guild roster
    </a>
    <a class="float-right"
      href="http://www.askmrrobot.com/wow/gear/eu/{{ character.realm }}/{{ character.name }}"
      target="_blank">Ask MR.Robot</a>
  </div>
  <span *ngIf="character.items">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" class="Icon-svg mini-icon">
			<use xlink:href="assets/images/icons/Icon.svg#achievement-shield"></use>
		</svg> {{ character.achievementPoints }}

		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" class="Icon-svg mini-icon">
			<use xlink:href="assets/images/icons/Icon.svg#swords"></use>
		</svg> {{ character.items.averageItemLevelEquipped }} / {{ character.items.averageItemLevel }}
	</span>
  <span class="pull-right">
    Last updated {{ character.lastModified | date:'HH:mm dd.MMM, yyyy' }}
	</span>
  <h3 class="card-title">{{ character.name }}</h3>
  <h6 class="card-subtitle mb-2">
    {{ character.level }} {{ characterSpecialization }} {{ classes[character.class] }} {{ character.realm }}
  </h6>

  <mat-tab-group (selectChange)="onTabChanged($event)" [selectedIndex]="page.selectedTabIndex">
    <mat-tab label="Equipment">
      <app-character-items [items]="character?.items"></app-character-items>
    </mat-tab>
    <mat-tab label="Raid progress">
      <nav class="col-md-12">
        <mat-paginator [length]="character?.progression?.raids?.length" [pageSize]="page.pageSize" [pageSizeOptions]="page.pageSizeOptions"
          (page)="pageEvent = $event">
        </mat-paginator>
      </nav>
      <div class="clearfix" *ngIf="character.progression">
        <div *ngFor="let raid of character?.progression?.raids |
				slice: 
					(pageEvent.pageSize * (pageEvent.pageIndex + 1)) - pageEvent.pageSize:
					pageEvent.pageSize * (pageEvent.pageIndex + 1)">
          <app-character-progress [raid]="raid" class="col-md-4 float-left"></app-character-progress>
        </div>
      </div>
      <div class="col-md-12">
        <mat-paginator [length]="character?.progression?.raids?.length" [pageSize]="page.pageSize" [pageSizeOptions]="page.pageSizeOptions"
          (page)="pageEvent = $event">
        </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Warcraft logs">
      <app-character-logs [character]="character"></app-character-logs>
    </mat-tab>
    <mat-tab label="Achievements" *ngIf="achievementsService !== null && achievementsService?.achievements !== null">
      <div *ngIf="selectedAchivementGroupIndex === -1; else achivementGroup">
        <app-character-achievement-list-item (click)="selectAchievementGroup(i, a.name)"
          *ngFor="let a of achievementsService?.achievements; let i = index" 
          [achievementGroup]="a"
          [completedAchievements]="character?.achievements?.achievementsCompleted"></app-character-achievement-list-item>
      </div>
      <ng-template #achivementGroup>
        <app-character-achievement *ngIf="achievementsService?.achievements"
          [completedAchievements]="character?.achievements?.achievementsCompleted"
          [completedAchievementsTimestamp]="character?.achievements?.achievementsCompletedTimestamp"
          [achievementGroup]="achievementsService?.achievements[selectedAchivementGroupIndex]"
          (resetIndex)="unselectAchievementGroup($event)"></app-character-achievement>
      </ng-template>
    </mat-tab>
    <!-- TODO: Soon™
    <mat-tab label="Pvp">
      PvP?
    </mat-tab>
    -->
    <mat-tab label="Challenges">
      <app-character-challenges [challenges]="character?.challenge"></app-character-challenges>
    </mat-tab>
    <mat-tab label="Statistics">
      <app-stats [statistics]="character?.statistics?.subCategories"></app-stats>
    </mat-tab>
  </mat-tab-group>
</div>
