<div class="character character-bg clearfix" [style.background-image]="getBackgroundImage()" [style.background-color]="getBackgroundColor()">
  <!-- Basic data -->
  <div class="clearfix">
    <a routerLink="/roster">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
			Back to guild roster
		</a>
  </div>
  <span *ngIf="character.items">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" class="Icon-svg mini-icon">
			<use xlink:href="assets/images/icons/Icon.svg#achievement-shield"></use>
		</svg> {{ character.achievementPoints }}

		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" class="Icon-svg mini-icon">
			<use xlink:href="assets/images/icons/Icon.svg#swords"></use>
		</svg> {{ character.items.averageItemLevelEquipped }} / {{ character.items.averageItemLevel }}
	</span>
  <span class="pull-right">
		Last updated {{ character.lastModified | date:'HH:mm dd.MMM, yyyy' }}
	</span>
  <h3 class="card-title">{{ character.name }}</h3>
  <h6 class="card-subtitle mb-2">
    {{ character.level }} {{ characterSpecialization }} {{ character.class }} {{ character.realm }}
  </h6>

  <md-tab-group (selectChange)="onTabChanged($event)" [selectedIndex]="3">
    <md-tab label="Equipment">
      <div class="clearfix">
        <div class="col-md-5 float-left">
          <ul class="list-group" *ngIf="character.items">
            <app-character-item [item]="character?.items?.head"></app-character-item>
            <app-character-item [item]="character?.items?.neck"></app-character-item>
            <app-character-item [item]="character?.items?.shoulder"></app-character-item>
            <app-character-item [item]="character?.items?.back"></app-character-item>
            <app-character-item [item]="character?.items?.chest"></app-character-item>
            <app-character-item [item]="character?.items?.wrist"></app-character-item>
            <app-character-item [item]="character?.items?.mainHand"></app-character-item>
            <app-character-item [item]="character?.items?.offHand"></app-character-item>
          </ul>
        </div>
        <div class="col-md-5 float-right">
          <ul class="list-group" *ngIf="character.items">
            <app-character-item [item]="character?.items?.hands"></app-character-item>
            <app-character-item [item]="character?.items?.waist"></app-character-item>
            <app-character-item [item]="character?.items?.legs"></app-character-item>
            <app-character-item [item]="character?.items?.feet"></app-character-item>
            <app-character-item [item]="character?.items?.finger1"></app-character-item>
            <app-character-item [item]="character?.items?.finger2"></app-character-item>
            <app-character-item [item]="character?.items?.trinket1"></app-character-item>
            <app-character-item [item]="character?.items?.trinket2"></app-character-item>
          </ul>
        </div>
      </div>
    </md-tab>
    <md-tab label="Raid progress">
      <nav class="col-md-12">
        <md-paginator [length]="character?.progression?.raids?.length" [pageSize]="page.pageSize" [pageSizeOptions]="page.pageSizeOptions"
          (page)="pageEvent = $event">
        </md-paginator>
      </nav>
      <div class="clearfix" *ngIf="character.progression">
        <div *ngFor="let raid of character?.progression?.raids |
				slice: 
					(pageEvent.pageSize * (pageEvent.pageIndex + 1)) - pageEvent.pageSize:
					pageEvent.pageSize * (pageEvent.pageIndex + 1)">
          <app-character-progress [raid]="raid" class="col-md-4 float-left"></app-character-progress>
        </div>
      </div>
      <div class="col-md-12">
        <md-paginator [length]="character?.progression?.raids?.length" [pageSize]="page.pageSize" [pageSizeOptions]="page.pageSizeOptions"
          (page)="pageEvent = $event">
        </md-paginator>
      </div>
    </md-tab>
    <md-tab label="Warcraft logs" *ngIf="logs">
      <p>Rankings for the current tier as {{ characterSpecialization }}. If your logs are not up to date, follow 
        <a href="https://www.warcraftlogs.com/character/eu/{{ slugifyName(character.realm) }}/{{ character.name }}" target="_blank">this</a> to the warcraft logs profile.</p>
      <app-character-log-item *ngFor="let boss of logs" [boss]="boss" class="col-md-4 float-left"></app-character-log-item>
    </md-tab>
    <md-tab label="Achievements">
      <app-character-achievement-list-item *ngFor="let a of achievementsService?.achievements"
        [achievementCategory]="a" [completedAchievements]="character?.achievements?.achievementsCompleted"></app-character-achievement-list-item>
    </md-tab>
    <md-tab label="Pvp">
      PvP?
    </md-tab>
    <md-tab label="Statistics">
      Same as armory stats?
    </md-tab>
  </md-tab-group>
</div>
