The guilds warcraft logs.

<md-card class="example-card" *ngFor="let r of reports">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{ r.start | date:'dd.MMM, yyyy'}} - {{ r.title }}</md-card-title>
    <md-card-subtitle>
      {{ r.start | date:'HH:mm' }} - {{ r.end | date:'HH:mm' }} Logged by:{{ r.owner }} 
      <a href="https://www.warcraftlogs.com/reports/{{ r.id }}" target="_blank" md-button>Open report in Warcraftlogs</a>
    </md-card-subtitle>
  </md-card-header>
</md-card>
