/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-card {
	background-size: cover;
}

.cdk-overlay-container {
  z-index: 1030 !important;
}

app-character .mat-tab-label {
	color: white !important;
}
app-character .mat-select-value-text,
app-character .mat-select-arrow{
	color: white;
}

app-character .mat-select-placeholder {
	color: lightgray;
}

app-guild-feed .mat-tab-label {
	color: black !important;
}

.mat-card-avatar {
	background-size: cover;
}

app-character mat-card {
	background: rgba(0, 0, 0, .3) !important;
}

app-character .mat-form-field-label {
	color: white;
}

app-character mat-card .bg-img {
	background-size: contain;
}
app-character mat-card mat-card-header,
app-character mat-card mat-card-content {
	color: white;
}

app-character-achievement-list-item .mat-card,
app-character-achievement .mat-card{
	background-color: transparent;
}

app-character-achievement-list-item .mat-card .mat-card-content,
app-character-achievement-list-item .mat-card .mat-card-header-text,
app-character-achievement-list-item .mat-card .mat-card-subtitle,
app-character-achievement .mat-card .mat-card-content,
app-character-achievement .mat-card .mat-card-header-text,
app-character-achievement .mat-card .mat-card-subtitle {
	color: white;
}

app-character .mat-paginator {
	background: transparent !important;
	color: white !important;
}

app-character .mat-tab-header-pagination-chevron,
app-character .mat-paginator-decrement,
app-character .mat-paginator-increment {
	border-color: white !important;
}

.uncompleted {
	background-color: rgba(121, 121, 121, 0.1) !important;
	color: lightskyblue;
}

.achievement-card {
	height: 10em;
}

mat-card {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

mat-card mat-card-title {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.float-right {
	float: right;
}

@media screen and (max-width: 577px){
	.p-none-sm {
		padding: 0 !important;
	}
}
