.character-bg {
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 55em;
}

.character {
	color: white;
    margin: -1.2em -1.2em -2.8em -1.2em;
    padding: 1.2em;
}

.list-group-item {
	background-color: rgba(0, 0, 0, .3) !important;
}

.mini-icon {
	width: 16px;
    height: 16px;
}

.Icon-svg:not(.Icon--color) {
    fill: currentColor;
}

.mat-paginator {
	background-color: transparent;
	color: white;
}
.mat-paginator .mat-select-value-text {
	color: white;
}
