<ng-container *ngIf="guild; else loadingTemplate">
  <mat-card-header>
    <mat-card-title>
      {{guild.name}}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a mat-tab-link *ngFor="let tab of tabs"
         (click)="activeTab = tab"
         [routerLink]="tab.path"
         [active]="activeTab == tab"
      >
        {{tab.title}}
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </mat-card-content>
</ng-container>
<ng-template #loadingTemplate>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
