/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

app-character .mat-tab-label {
	color: white !important;
}
app-guild-feed .mat-tab-label {
	color: black !important;
}

app-character-achievement-list-item .mat-card,
app-character-achievement .mat-card{
	background-color: transparent;
}

app-character-achievement-list-item .mat-card .mat-card-content,
app-character-achievement-list-item .mat-card .mat-card-header-text,
app-character-achievement-list-item .mat-card .mat-card-subtitle,
app-character-achievement .mat-card .mat-card-content,
app-character-achievement .mat-card .mat-card-header-text,
app-character-achievement .mat-card .mat-card-subtitle {
	color: white;
}

.uncompleted {
	background-color: rgba(121, 121, 121, 0.1) !important;
	color: lightskyblue;
}

.achievement-card {
	height: 10em;
}
