/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

app-character .mat-tab-label {
	color: white !important;
}
app-guild-feed .mat-tab-label {
	color: black !important;
}

app-character-achievement-list-item .mat-card {
	background-color: transparent;
}
app-character-achievement-list-item .mat-card .mat-card-content,
app-character-achievement-list-item .mat-card .mat-card-header-text,
app-character-achievement-list-item .mat-card .mat-card-subtitle {
	color: white;
}