<div class="tooltip-trigger" (mouseenter)="onMouseEnter()">
  <div
    [style.width]="size + 'px'"
    [style.height]="size + 'px'"
    class="icon float-left ml-2 mr-2"
    [style.background-image]="styleIcon"></div>
  <div class="projected">
    <a *ngIf="item.itemId || item.id; else plainTemplate"
       href="https://www.wowhead.com/item={{ item.itemId || item.id }}"
       target="_blank">
      <ng-container [ngTemplateOutlet]="plainTemplate"></ng-container>
    </a>

    <ng-template #plainTemplate>
      <span
        [style.color]="hexColorMap[qualityId]">
        <ng-content></ng-content>
      </span>
    </ng-template>
  </div>

  <app-tooltip class="tooltip"
               [tooltip]="item?.tooltip"></app-tooltip>
</div>
