<div>
  <mat-form-field>
    <mat-select placeholder="Log metric" [(ngModel)]="selection.metric" (change)="getLogs()">
      <mat-option *ngFor="let m of metrics; let i = index" [value]="i">{{ m.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
  <mat-select placeholder="Raid zone" [(ngModel)]="selection.zone" (change)="getLogs()">
      <mat-option value="">Current raid</mat-option>
      <mat-option *ngFor="let z of logs.zones; let i = index" [value]="z.id">{{ z.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<p class="mt-3">
  Change the metric, to see the performence for healing, dps etc. If the logs are not up to date, follow
  <a href="https://www.warcraftlogs.com/character/eu/{{ slugifyName(character.realm) }}/{{ character.name }}" target="_blank">this</a>  to the warcraft logs profile.
</p>
<mat-tab-group>
  <!-- LFR -->
  <mat-tab *ngIf="logs[1].logs.length > 0" [label]="logs[1].difficulty">
    <mat-progress-bar *ngIf="selection.isDownloading" mode="indeterminate"></mat-progress-bar>
    <app-character-log-item *ngFor="let boss of logs[1].logs" [boss]="boss" class="col-md-4 float-left"></app-character-log-item>
  </mat-tab>
  <!-- Normal -->
  <mat-tab *ngIf="logs[3].logs.length > 0" [label]="logs[3].difficulty">
    <mat-progress-bar *ngIf="selection.isDownloading" mode="indeterminate"></mat-progress-bar>
    <app-character-log-item *ngFor="let boss of logs[3].logs" [boss]="boss" class="col-md-4 float-left"></app-character-log-item>
  </mat-tab>
  <!-- Normal -->
  <mat-tab *ngIf="logs[4].logs.length > 0" [label]="logs[4].difficulty">
    <mat-progress-bar *ngIf="selection.isDownloading" mode="indeterminate"></mat-progress-bar>
    <app-character-log-item *ngFor="let boss of logs[4].logs" [boss]="boss" class="col-md-4 float-left"></app-character-log-item>
  </mat-tab>
  <!-- Heroic -->
  <mat-tab *ngIf="logs[5].logs.length > 0" [label]="logs[5].difficulty">
    <mat-progress-bar *ngIf="selection.isDownloading" mode="indeterminate"></mat-progress-bar>
    <app-character-log-item *ngFor="let boss of logs[5].logs" [boss]="boss" class="col-md-4 float-left"></app-character-log-item>
  </mat-tab>
  <!-- Mythic -->
  <mat-tab *ngIf="logs[6].logs.length > 0" [label]="logs[6].difficulty">
    <mat-progress-bar *ngIf="selection.isDownloading" mode="indeterminate"></mat-progress-bar>
    <app-character-log-item *ngFor="let boss of logs[6].logs" [boss]="boss" class="col-md-4 float-left"></app-character-log-item>
  </mat-tab>
  <!-- Challenge mode -->
  <mat-tab *ngIf="logs[10].logs.length > 0" [label]="logs[10].difficulty">
    <mat-progress-bar *ngIf="selection.isDownloading" mode="indeterminate"></mat-progress-bar>
    <app-character-log-item *ngFor="let boss of logs[10].logs" [boss]="boss" class="col-md-4 float-left"></app-character-log-item>
  </mat-tab>
</mat-tab-group>
