.tooltip {
  color: white;

  .q0 {
    color: #9d9d9d;
  }

  .q1 {
    color: #ffffff;
  }

  .q2 {
    color: #1eff00;
  }

  .q3 {
    color: #0070dd;
  }

  .q4 {
    color: #a335ee;
  }

  .q5 {
    color: #ff8000;
  }

  .q6 {
    color: #e6cc80;
  }

  .q7, .q8 {
    color: #00ccff;
  }

  .moneygold {
    color: #f1ff86;
  }

  .moneysilver {
    color: #c5c1c4;
  }

  .moneycopper {
    color: #ff7700;
  }
}
